.container{
    display: flex;
    padding: 5px;
    position: relative;
}
.sideBar{
    /* border: 2px solid rebeccapurple; */
    width :30%;
    height :90vh;
    margin: 5px;
    background-image: url(../../../assets/qwd83nc4xxf41.webp);
    
}

.sideBar mat-card{
    border-radius: 15px 15px;
    margin-top:5px ;
    background-color: rgb(228, 225, 225);
}

.chat{
    /* border: 2px solid rgb(153, 71, 51); */
        width: 70%;
        height: 90vh;
        float: right;
        margin: 5px;
        display: block;
        background-image: url(../../../assets/msgBck.png);
}
.messages{
    /* border: 2px solid rgb(153, 71, 51); */
    width: 100%;
    height: 72vh;
    overflow-y: scroll;
    
}
.messages::-webkit-scrollbar {
    display: none;
}
.singleMsgs{
    overflow: scroll;
}
.singleMsgs::-webkit-scrollbar {
    display: none;
}
.singleMsgs mat-card{
    width: fit-content;
    margin: 3px 10px 3px 10px;
    max-width: 70%;
}

.typeMsg {
    /* border: 2px solid rgb(153, 71, 51); */
        width: 100%;
        height: 9vh;
        text-align: center;
        margin-top: 5px;
        
        
}
.typeMsg button{
    float: right;
    height: 50px;
    width: 7%;
    margin: 0 1% 0 0.5%;
    border:none;

}
.typeMsg input{
    width: 88%;
    height: 50px;
    font-size: 17px;
    border: none;
    padding-left: 2%;
}



/* //////////////// */
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.example-form button{
    height: 50px;
    width: 100px;
    background-color: rgb(62, 142, 115);
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    /* border-radius: 20px; */
    border: none;
}
.example-width {
    width: 100%;
}
/* //////////////// */

.peopleDisplay{
    /* border: 2px solid rgb(22, 11, 34); */
    width: 95%;
    height: 88%;
    overflow-y: scroll;
    padding: auto;
    margin: auto;
    display: block;
}
.peopleDisplay::-webkit-scrollbar {
    display: none;
}

mat-card img{
    height: 50px;
    width : 50px;
    border-radius: 50%;
}
mat-card mat-card-title{
    font-size:medium;
}
.center1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid #000; */
    padding: 20px;
}
.pplSuggestion0{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 9;
background-color: rgba(240, 237, 237, 0.091);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    
}
.pplSuggestion1{
    /* position: absolute; */
    
    z-index: 10;
    width: 30%;
    height: 600px;
    /* border: 2px solid rgb(22, 11, 34); */
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    
}
.pplSuggestion1 p{
    display: inline;
}

.pplSuggestion2{
    overflow-y: scroll;
    /* width: 390px;
        height: 390px; */
        width: 95%;
        height: 88%;
        /* border: 2px solid rgb(22, 11, 34); */
        margin: auto;
        margin-top: 20px;
}

.pplSuggestion2 mat-card{
    background-color: rgb(231, 231, 231);
    margin: 7px;
}

.sentMsg{
    background-color: rgb(255, 255, 255);
    float: right;
    /* margin: 30px; */
    margin-right: 20px;
    border-radius: 15px 0px 15px 15px;
}
.recvMsg {
    background-color: rgb(124, 249, 172);
    margin: 30px;
    border-radius: 0px 15px 15px 15px;
}

.otherPersonDetail{
    height: 8vh;
    background-color: rgb(167, 164, 164);
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
        color: aliceblue;
        font-size: 30px;
      
}

.innerPic img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px;
}

.innerText{
    
        /* margin: 5px; */
        text-align: center;
        margin-top: 20px;
        
           
        
}
