.top{
    border: 4px solid rgb(255, 255, 255);
        width:99vw;
        height: 50px;
        /* background-color: rgb(3, 125, 17); */
        color: aliceblue;
        text-align: center;
          
}
h1{
    margin-top: 10px;
    font-size:45px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     */
     font-family: 'Times New Roman', Times, serif;
}