.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: aliceblue;
}

.example-full-width {
    width: 100%;
    background-color: aliceblue;
}

.center1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    padding: 20px;
    background-color: aliceblue;
    padding: 40px;
}

.container {
    background-color: aliceblue;
}

.container button {
    width: 100px;
    height: 40px;
    background-color: rgb(9, 194, 133);
    color: aliceblue;
    border: none;
}
